.elements__element-footer {
    box-sizing: border-box;
    width: 282px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding-left: 21px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
}