.profile__add-button {
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../../../images/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    transition: opacity .2s linear;
    width: 150px;
    height: 50px;
    margin-left: 244px;
    margin-top: 35px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 1183px) {
    .profile__add-button {
        margin-left: 150px;
    }
}

@media screen and (max-width: 1075px) {
    .profile__add-button {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        width: 282px;
        margin: 0;
    }
}