.error {
    margin: 0;
    padding: 0;
    width: 358px;
    color: #FF0000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-top: 5px;
    visibility: hidden;
}

@media screen and (max-width: 650px) {
    .error {
        width: 238px;
    }
}