.popup__button-close {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 330px;
    left: 430px;
    transition: opacity .2s linear;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: .8;
}

@media screen and (max-width: 650px) {
    .popup__button-close {
        left: 255px;
    }
}