.popup__close-icon {
    width: 32px;
    height: 32px;
    transform: translate(438px, -335px);
    transition: opacity .2s linear;
}

.popup__close-icon:hover {
    opacity: .8;
}

@media screen and (max-width: 650px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        transform: translate(260px, -330px);
    }
}